<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            //<span name="pro_content" th:utext="${productVO.pro_content}"></span> 클릭
            $("span[name='pro_content']").on("click", function(){
                //console.log("클릭이 잘됩니다");
                let pro_num = $(this).data("pro_num");
                let pro_name = $(this).data("pro_name");
                //console.log(this); 
                //<span data-pro_num="8" name="pro_content"><img alt="" src="/admin/product/display/attach.png" style="height:76px; width:100px">팬텀네오입니다</span>
                $("#pro_num").val(pro_num);
                $("#pro_name").val(pro_name);

                let frm = $("#frm_pro_info");
                frm.submit();
            });
            //name="btn_cart_add"
            $("button[name='btn_cart_add']").on("click", function(){
                //console.log("클릭이 잘됩니다");
                let pro_num = $(this).data("pro_num");
                let cart_amount = $(this).parents("div.card-body").find("input[name='cart_amount']").val();

                console.log("수량", cart_amount);
                $.ajax({
                    url : '/cart/cart_add',
                    type: 'post',
                    data: {pro_num : pro_num, cart_amount : cart_amount},
                    dataType: 'text',
                    success: function(result){
                        if(result == "success") {
                            alert("장바구니에 등록되었습니다.");
                            if(confirm("장바구니 페이지로 이동합니다.")) {
                            location.href = "/cart/cart_list";
                        }       
                    }
                    },beforeSend : function(xhr) {
                        xhr.setRequestHeader("AJAX", "true");
                    },
                    error: function(xhr, status, error) {  // 스프링에서 응답된 정보중에 에러코드가 존재하면
                        console.log(xhr);
                        alert("인증되지 않은 상태입니다. 로그인 페이지로 이동됩니다.");
                        location.href = "/user/login";
                    }                     
                })
            
            });
            //name="btn_buy_add"
            //$("button[name='btn_buy_add']").on("click", function(){
                //let pro_num = $(this).data("pro_num");
                //let cart_amount = $(this).parents("div.card-body").find("input[name='cart_amount']").val();
                //let url = `/order/order_info?pro_num=${pro_num}&cart_amount=${cart_amount}&type=buy`;
            
                //console.log("url", url);
                //location.href = url;
            //});
        }); //ready end
    </script>

</th:block>

<th:block layout:fragment="content">
    <div style="margin: auto; text-align: center; margin-top: 50px;">
        <img src="/images/massagechair1.JPG" style="width: 500px; height: 400px;" alt="...">
        <h3 th:text="${cate_name}"></h3>
    </div>
    <!-- 쿼리스트링으로 넘길때 http://localhost:8888/product/pro_info?pro_name=팬텀&pro_num=7-->
    <form id="frm_pro_info" method="get" action="/product/pro_info">
        <input type="hidden" name="pro_name" id="pro_name">
        <input type="hidden" name="pro_num" id="pro_num">
    </form>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">    
                <div class="col" th:each= "productVO:${pro_list}">
                    <div class="card shadow-sm">
                        <!--
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        -->
                        <!--<img style="width: 100px; height: 100px;" th:src="${'/product/image_display?dateFolderName=' + productVO.pro_upfolder + '&fileName=s_' + productVO.pro_img}">-->
                        <span th:data-pro_name="${productVO.pro_name}" th:data-pro_num="${productVO.pro_num}" name="pro_content" th:utext="${productVO.pro_content}"></span>
                        <input type="hidden" name="pro_upfolder" th:value="${productVO.pro_upfolder}">
                        <input type="hidden" name="pro_img" th:value="|s_${productVO.pro_img}|">
                        <div class="card-body" style="position: relative; min-height: 200;">
                            <h6 th:text="${productVO.pro_name}"></h6>
                            <span>[[${#numbers.formatInteger(productVO.pro_price, 3, 'COMMA') + '원'}]]</span>
                            <div class="mt-1">
                                수량 <input type="number" style="width: 48px;" name="cart_amount" th:max="${productVO.pro_amount}" min="1" value="1">
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <div class="btn-group mt-2" style="position: absolute; bottom: 10px; right: 10px;">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" name="btn_cart_add" th:data-pro_num="${productVO.pro_num}">장바구니</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" name="btn_buy_add" th:data-pro_num="${productVO.pro_num}">구매</button>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script th:inline="javascript">
                document.querySelector("button[name='btn_buy_add']").addEventListener("click", function() {
                let pro_num = this.getAttribute("data-pro_num");

                let cart_amount =  this.closest("div.card-body").querySelector("input[name='cart_amount']").value;
                console.log(cart_amount);
                let url = `/order/order_info?pro_num=${pro_num}&cart_amount=${cart_amount}&type=buy`;

                // 페이지 이동
                location.href = url;
            });
            </script>     
</th:block>
</html>