<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/layout}">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col text-center mb-3 mt-3">
            <h3>주문내역</h3>
        </div>
    </div>
    <div class="row">        
        <div class="col">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">주문번호</th>
                    <th scope="col" style="width: 25%;">상품이미지</th>
                    <th scope="col" style="width: 15%;">상품이름</th>
                    <th scope="col" style="width: 10%;">가격</th>
                    <th scope="col" style="width: 5%;">수량</th>
                    <th scope="col" style="width: 10%;">합계</th>
                    <th scope="col" style="width: 10%;">배송상태</th>
                </tr>
            </thead>
                <tbody>
                    <tr th:each= "item : ${order_list}">
                    <td>
                        [[${#temporals.format(item.ord_date, 'yyyy-MM-dd')}]] <br><br> [[${item.ord_code}]]
                    </td>
                    <td>
                    <img style="width: 100px;height: 100px;" th:src="${'/order/image_display?dateFolderName=' + item.pro_upfolder + '&fileName=s_' + item.pro_img}">
                    </td>
                    <td th:text="${item.pro_name}"></td>
                    <td th:text="${#numbers.formatInteger(item.dt_price, 3, 'COMMA') + '원'}"></td>
                    <td th:text="${item.dt_amount}"></td>
                    <td th:text="${#numbers.formatInteger(item.dt_price * item.dt_amount, 3, 'COMMA') + '원'}"></td>
                    <td th:text="${item.payment_status}"></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
        <!-- /.card-body -->
			<div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <th:block th:if= "${pageMaker.prev}">
                    <li class="page-item"><a class="page-link" th:href="|/order/order_list${pageMaker.makeSearch(pageMaker.startPage-1)}|">«</a></li>
                    </th:block>

                    <th:block th:each= "num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
                    <li class="page-item" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
                        <a class="page-link" th:href="|/order/order_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a></li>
                    </th:block>

                    <th:block th:if= "${pageMaker.next}">
                    <li class="page-item"><a class="page-link" th:href="|/order/order_list${pageMaker.makeSearch(pageMaker.endPage+1)}|">»</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</th:block>

</html>