<!DOCTYPE html>
<html class="h-100" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script">
<script th:inline="javascript">
    $(document).ready(function(){
        //id="emailsearch"
        $("#emailsearch").on("click", function(){

			if($("#mc_name").val() == ""){
				alert("이름을 입력하세요")
                return;
			}else if($("#mc_phone").val() == ""){
				alert("전화번호를 입력하세요")
                return;
			}
            $.ajax({
                url:'/user/emailsearch',
                type:'get',
                data:{mc_name: $("#mc_name").val(), mc_phone: $("#mc_phone").val()},
                dataType: 'text',
                success: function(result){
                    if(result != "fail"){
                        $("#result").html(result);
						alert(result);
                    }else if(result == "fail"){
                        alert("입력한정보를 확인 바랍니다");
                    }
                    $("#mc_name").val("");
                    $("#mc_phone").val("");
                }
            });
        });
		// 3주차 메일인증으로 비밀번호 찾기로 변경
		//id="passwordsearch"
		$("#passwordsearch").on("click", function(){
			
			if($("#mc_email").val() == "") {
				alert("다시 확인해주세요")
				return;
			}else if($("#mc_name2").val() == ""){
				alert("이름을 입력하세요")
				return;
			}
			
			$.ajax({
				url:'/user/passwordsearch',
				type:'get',
				data:{mc_email: $("#mc_email").val(), mc_name: $("#mc_name2").val()},
				dataType: 'text',
				success: function(result){
					if(result == "success") {
						alert("임시비밀번호를 메일로 발송했습니다")
						location.href = "/user/login"
					}else if(result == "fail") {
						alert("입력한정보를 확인 바랍니다");
						$("#mc_email").val("");
						$("#mc_name2").val("");
					}
				}
			});
		});
    });


</script>

</th:block>
<th:block layout:fragment="content">
	<div class="card card-info" style="margin-top: 50px;">
		<h1 class="mt-3 mb-4 text-center">아이디/비밀번호 찾기</h1>
		<div class="card-header">
    <div class="row mt-5">
		<div class="col-6">
			<h5>이메일 찾기</h5>
			<div class="mb-3">
				<label for="mc_name" class="form-label">이름</label>
				<input type="text" class="form-control" id="mc_name" name="mc_name" placeholder="이름을 입력">
			</div>
			<div class="mb-3">
				<label for="mc_phone" class="form-label">핸드폰</label>
				<input type="text" class="form-control" id="mc_phone" name="mc_phone" placeholder="번호를 입력">
			</div>
			<div class="mb-3 text-center">
				<button type="button" class="btn btn-primary" id="emailsearch">이메일찾기</button>
			</div>
		</div>
		<div class="col-6">
			<h5>비밀번호 찾기</h5>
			<div class="mb-3">
				<label for="mc_email" class="form-label">이메일</label>
				<input type="text" class="form-control" id="mc_email" name="mc_email" placeholder="이메일을 입력">
			</div>
			<div class="mb-3">
				<label for="mc_name2" class="form-label">이름</label>
				<input type="text" class="form-control" id="mc_name2" name="mc_name2" placeholder="이름을 입력">
			</div>
			<div class="mb-3 text-center">
				<button type="button" class="btn btn-primary" id="passwordsearch">비밀번호 찾기</button>
			</div>
		</div>
	</div>
</div>
</div>
</th:block>



</html>