<!DOCTYPE html>
<html class="h-100" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<th:block layout:fragment="script">
    <script th:inline="javascript">
        let msg = [[${msg}]];
        if(msg == "fail") {
            alert("현재비밀번호를 확인바랍니다");
        }
    </script>

</th:block>


<th:block layout:fragment="content">
    <div class="d-flex justify-content-center">
        <div style="max-width: 600px;">
            <form action="/user/pwchange" method="post" class="row g-3">
                <h3 class="mt-3 mb-4 text-center">비밀번호수정</h3>
                
                <!-- 기존 비밀번호 필드 -->
                <div class="col-12">
                    <div class="row align-items-center">
                        <label for="cur_password" class="col-md-3 col-form-label">기존비밀번호</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="cur_password" 
                                name="cur_password" placeholder="기존비밀번호">
                        </div>
                    </div>
                </div>
    
                <!-- 신규 비밀번호 필드 -->
                <div class="col-12">
                    <div class="row align-items-center">
                        <label for="new_password" class="col-md-3 col-form-label">신규비밀번호</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="new_password" 
                                name="new_password" placeholder="신규비밀번호">
                        </div>
                    </div>
                </div>
    
                <!-- 비밀번호 확인 필드 -->
                <div class="col-12">
                    <div class="row align-items-center">
                        <label for="confrim_password" class="col-md-3 col-form-label">비밀번호확인</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" id="confrim_password" 
                                name="confrim_password" placeholder="비밀번호확인">
                        </div>
                    </div>
                </div>
    
                <!-- 제출 버튼 -->
                <div class="col-12 text-center">
                    <button class="btn btn-info" type="submit">수정</button>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>