<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layouts/ad_layout}">

<th:block layout:fragment="script">
	<script src="/ckeditor/ckeditor.js"></script>
	<script>
	$(document).ready(function(){
		let isCheck = true;
		$("#checkAll").on("click", function(){
			//console.log("제목행 체크박스");
			//id="checkAll"
			$("input[name='check']").prop("checked", this.checked);
			isCheck = this.checked;
		});
		$("input[name='check']").on("click", function(){
			$("#checkAll").prop("checked", this.checked);
			$("input[name='check']").each(function(){
				if(!$(this).is(":checked")) {
					$("#checkAll").prop("checked", false);
				}
			});
		});
		// 상품이미지 미리보기.   id="pro_img_upload".  e 매개변수 : 선택한 파일정보
		$("#pro_img_upload").on("change", function(e) {
					let file = e.target.files[0]; // 파일첨부에서 선택한 한개의 파일을 가리키는 의미.

					let reader = new FileReader(); // 파일 읽어오는 입력객체.
					reader.readAsDataURL(file);

					reader.onload = function(e) {
						$("#img_preview").attr("src", e.target.result);
					}

				});
		//id="btn_pro_del"
		//for문에서는 id를 사용하면 안된다.
		// $("#btn_pro_del").on("click", function(){
		// 	if(!confirm("선택하신 상품을 삭제하시겠습니까?")) return;
		// 	if($("input[name='check']:checked").length == 0) {
		// 		alert("삭제할 상품을 체크하세요");
		// 		return;
		// 	}
		// });

		//id="btn_firstCategory"
		$("#btn_firstCategory").on("change", function(){
				let firstCategoryCode = $("#btn_firstCategory").val();
				//2차 카테고리목록 가져오기
				let url = "/admin/product/secondcategory/" + firstCategoryCode;
				
				$.getJSON(url, function(secondCategoryList) {
					let secondCategoryCode = $("#btn_secondCategory");
					let optionStr = "";

					for(let i=0; i<secondCategoryList.length; i++) {
						optionStr += `<option value='${secondCategoryList[i].cate_code}'>${secondCategoryList[i].cate_name}</option>`; 
					}

					secondCategoryCode.find("option").remove();
					secondCategoryCode.append("<option>2차카테고리 선택</option>");
					secondCategoryCode.append(optionStr);
				});
			});
		let criteriaForm = $("#criteriaForm");
		// edit버튼 클릭 name=btn_pro_edit
		$("button[name='btn_pro_edit']").on("click", function(){
			//console.log("수정버튼사용");
			let pro_num = $(this).data("pro_num");
			$("#pro_num").val(pro_num); // data-pro_num="1"
			criteriaForm.attr("action", "/admin/product/pro_edit");
			
			criteriaForm.submit();
		});

		//name="btn_pro_del"
		$("button[name='btn_pro_del']").on("click", function(){
			if(!confirm("삭제하시겠습니까?")) return;
			let pro_num = $(this).data("pro_num");
			$("#pro_num").val(pro_num);
			criteriaForm.attr("action", "/admin/product/pro_delete");
			
            criteriaForm.submit();
		});	
		
		const pro_num_arr=[];
		const pro_upfolder_arr=[];
		const pro_img_arr=[];
		
		// 체크삭제 form태그방식을 선택 id="btn_sel_delete"
		$("#btn_sel_delete").on("click", function(){
			if(!confirm("선택하신 상품을 삭제하시겠습니까?")) return;

			if($("input[name='check']:checked").length == 0) {
				alert("삭제할 상품을 체크하세요");
				return;
			}
			//id="frm_pro_list"
			$("#frm_pro_list").submit();
		});

	});//ready end
	</script>
</th:block>


<th:block layout:fragment="content">
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">상품 목록</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<form method="get" action="/admin/product/pro_list">
									<div class="form-group row">
										<div class="col-2">
											<select name="searchType" class="form-control">
												<option selected>검색종류 선택</option>
												<option value="u">상품코드</option>
												<option value="n">상품정보</option>
												<option value="un">상품코드or상품정보</option>
											</select>
										</div>
										<div class="col-2">
											<input type="text" name="keyword" class="form-control" placeholder="Enter ...">
										</div>
										<div class="col-2">
											<button type="submit" class="btn btn-block btn-outline-primary">찾기</button>
										</div>
										<div class="col-2">
											<button type="button" class="btn btn-block btn-outline-primary" id="btn_sel_delete">삭제</button>
										</div>
										<div class="col-2">
											<select name="cate_prtcode" class="form-control" id="btn_firstCategory">
												<option>1차카테고리 선택</option>
												<option th:each= "category:${cate_list}" th:value="${category.cate_code}" th:text="${category.cate_name}">option2</option>
											</select>
										</div>
										<div class="col-2">
											<select name="cate_code" class="form-control" id="btn_secondCategory">
												<option>2차카테고리 선택</option>
											</select>
										</div>
									</div>
								</form>
							</div>
						</div>
					<div class="row">
						<div class="col">
							<!-- 폼태그 삭제를 만들기 위해 사용-->
						<form name="frm_pro_list" id="frm_pro_list" method="post" action="/admin/product/pro_sel_delete">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th style="width: 5%">
										<input type="checkbox" id="checkAll">
									</th>
									<th style="width: 10%">상품코드</th>
									<th style="width: 10%">상품명</th>
									<th style="width: 30%">상품정보</th>
									<th style="width: 10%">판매가</th>
									<th style="width: 10%">수량</th>
									<th style="width: 10%">등록일</th>
									<th style="width: 10%">관리</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each= "productVO:${pro_list}">
									<td><input type="checkbox" name="check" th:value="${productVO.pro_num}"></td>
									<td>[[${productVO.pro_num}]]</td>
									<td>
										[[${productVO.pro_name}]] <br>
									</td>
									<td>
										<!-- <img style="width: 100px; height: 100px;" th:src="${'/admin/product/image_display?dateFolderName=' + productVO.pro_upfolder + '&fileName=s_' + productVO.pro_img}"> -->
										<span th:utext="${productVO.pro_content}"></span>
										<input type="hidden" name="pro_upfolder" th:value="${productVO.pro_upfolder}">
										<input type="hidden" name="pro_img" th:value="|s_${productVO.pro_img}|">
									</td>
									<td>[[${#numbers.formatInteger(productVO.pro_price, 3, 'COMMA') + '원'}]]</td>
									<td>[[${productVO.pro_amount}]]</td>
									<td>[[${#dates.format(productVO.pro_date, 'yyyy-MM-dd HH:mm:ss')}]]</td>
									<td>
										<button type="button" class="btn btn-block btn-sm btn-outline-primary" th:data-pro_num="${productVO.pro_num}" name="btn_pro_edit">EDIT</button>
										<button type="button" class="btn btn-block btn-sm btn-outline-primary" th:data-pro_num="${productVO.pro_num}" name="btn_pro_del" >DELETE</button>
									</td>					
								</tr>									
							</tbody>
						</table>
					</form>
					<!-- 페이징및검색 파라미터 정보 : 현재 목록상태를 작업(수정,삭제)을 하고 돌아왔을 때 유지. -->
					<form id="criteriaForm" action="" method="get">
						<!-- 4개은 페이징,검색파라미터 -->
						<input type="hidden" name="page" id="page" th:value="${pageMaker.cri.page}" />
						<input type="hidden" name="perPageNum" id="perPageNum" th:value="${pageMaker.cri.perPageNum}" />
						<input type="hidden" name="searchType" id="searchType" th:value="${pageMaker.cri.searchType}" />
						<input type="hidden" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" />

						<!-- 수정상품코드 -->
						<input type="hidden" name="pro_num" id="pro_num">
					</form>
					</div>
				</div>
				</div>
				</div>
					<!-- /.card-body -->
					<div class="card-footer clearfix">
						<ul class="pagination pagination-sm m-0 float-right">
							<th:block th:if= "${pageMaker.prev}">
							<li class="page-item"><a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(pageMaker.startPage-1)}|">«</a></li>
							</th:block>

							<th:block th:each= "num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
							<li class="page-item" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
								<a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a></li>
							</th:block>

							<th:block th:if= "${pageMaker.next}">
							<li class="page-item"><a class="page-link" th:href="|/admin/product/pro_list${pageMaker.makeSearch(pageMaker.endPage+1)}|">»</a></li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>