<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.massagemall.admin.product.AdProductMapper">
<insert id="pro_insert">
	insert into 
		product_tbl (cate_code, pro_name, pro_rentalprice, pro_price, 
		pro_discount, pro_content, pro_upfolder, pro_img, pro_amount, 
		pro_buy) 
	values(#{cate_code},#{pro_name},#{pro_rentalprice},#{pro_price},
		#{pro_discount},#{pro_content},#{pro_upfolder},#{pro_img},
		#{pro_amount},#{pro_buy})
</insert>
<select id="pro_list" resultType="com.ezen.massagemall.admin.product.ProductVO">
	select
		pro_num, cate_code, pro_name, pro_price, 
		pro_discount, pro_content, pro_upfolder, 
		pro_img, pro_amount, pro_buy, pro_date, pro_updatedate
	from
		product_tbl
	where 
		pro_num > 0
	
	<include refid="search"></include>

	limit #{pageStart}, #{perPageNum}

</select>

<select id="getTotalCount" resultType="int">
	select
		count(*)
	from
		product_tbl
	where
		pro_num >0
	<include refid="search"></include>
		
</select>

<select id="getFirstCategoryList" resultType="com.ezen.massagemall.admin.category.CategoryVO">
	select
		cate_code, cate_prtcode, cate_name
	from
		category_tbl
	where
		cate_prtcode is null

</select>


<select id="getSecondCategoryList" resultType="com.ezen.massagemall.admin.category.CategoryVO">
	select
		cate_code, cate_prtcode, cate_name
	from
		category_tbl
	where
		cate_prtcode=#{cate_prtcode}
</select>
<select id="getFirstCategoryBySecondCategory" resultType="com.ezen.massagemall.admin.category.CategoryVO">
 
 	select 
 		cate_code, cate_prtcode, cate_name 
 	from 
 		category_tbl
	where 
		cate_code  = #{secondCategory}
 
 </select>



<sql id="search">
	<if test="searchType !=null">
	<if test="searchType == 'u'.toString()">
		and pro_num like concat('%', #{keyword}, '%')
	</if>
	<if test="searchType == 'n'.toString()">
		and pro_name like concat('%', #{keyword}, '%')
	</if>
	<if test="searchType == 'un'.toString()">
		and pro_name like concat('%', #{keyword}, '%')
		or
		pro_num like concat('%', #{keyword}, '%')
	</if>
	</if>
</sql>

<select id="pro_edit_form" resultType="com.ezen.massagemall.admin.product.ProductVO">
	select
		pro_num, cate_code, pro_name, pro_price, 
		pro_discount, pro_content, pro_upfolder, 
		pro_img, pro_amount, pro_buy, pro_date, pro_updatedate
	from
		product_tbl
	where
		pro_num = #{pro_num}
</select>
<update id="pro_edit">
	update
		product_tbl
	set
		cate_code=#{cate_code}, pro_name=#{pro_name}, pro_price=#{pro_price}, pro_discount=#{pro_discount},
		pro_content=#{pro_content}, pro_upfolder=#{pro_upfolder}, pro_img=#{pro_img}, pro_amount=#{pro_amount},
		pro_buy=#{pro_buy}, pro_updatedate=now()
	where
		pro_num=#{pro_num}
</update>
<delete id="pro_delete">
	delete from
		product_tbl
	where
		pro_num=#{pro_num}
	
</delete>
<delete id="pro_sel_delete">
	delete from
		product_tbl
	where
		pro_num in
		<!-- 번호를 1,5,7 번을가지고 오기위해서 foreach구문사용 -->
	<foreach collection="pro_num_arr" item="item" open="(" separator="," close=")">
	#{item}
	</foreach>

</delete>

</mapper>