<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.massagemall.user.UserMapper">

<insert id="join">
	insert into mc_tbl(mc_email, mc_password, mc_name, mc_phone, mc_zipcode, mc_addr, mc_deaddr)
	values(#{mc_email}, #{mc_password}, #{mc_name}, #{mc_phone}, #{mc_zipcode}, #{mc_addr}, #{mc_deaddr})
</insert>
<select id="emailcheck" resultType="String">
	select
		mc_email
	from
		mc_tbl
	where
		mc_email=#{mc_email}
</select>
<select id="login" resultType="com.ezen.massagemall.user.UserVO">
	select
		mc_email, mc_password, mc_name, mc_regdate
	from
		mc_tbl
	where
		mc_email=#{mc_email}
</select>
<select id="modify" resultType="com.ezen.massagemall.user.UserVO">
	select
		mc_email, mc_regdate, mc_updatedate , mc_name,
		mc_zipcode, mc_addr, mc_deaddr, mc_phone
	from
		mc_tbl
	where
		mc_email=#{mc_email}
</select>
<update id="modify_save">
	update
		mc_tbl
	set
		mc_email=#{mc_email}, mc_updatedate=now(), mc_name=#{mc_name},
		mc_zipcode=#{mc_zipcode}, mc_addr=#{mc_addr}, mc_deaddr=#{mc_deaddr}, mc_phone=#{mc_phone}
	where
		mc_email=#{mc_email}
</update>
<update id="pwchange" parameterType="Map">
	update
		mc_tbl
	set
		mc_password=#{mc_password}
	where
		mc_email=#{mc_email}
</update>
<select id="emailsearch" resultType="String">
	select
		mc_email
	from
		mc_tbl
	where
		mc_name=#{mc_name}
	and
		mc_phone=#{mc_phone}
</select>

</mapper>